*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 400px;
    height: 600px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: gray;
}

.container h1{
    margin-bottom: 40px;
    margin-top: 40px;
}

.images{
    display: flex;
}
.container .images img{
    justify-content: space-between;
    width: 28%;
    max-height: 100px;
    padding: 10px;
    margin: 0 auto 40px auto;
}

.inputs{
    display: inline-flex;
}

.inputs input{
    background-color: tomato;
    border-radius: 20px ;
    -webkit-border-radius: 20px ;
    -moz-border-radius: 20px ;
    -ms-border-radius: 20px ;
    -o-border-radius: 20px ;
    width: 100px;
    line-height: 30px;
    font-size: 25;
    font-weight: 800;
    padding: 5px;
    margin-right: 10px;
}

.box{
    display: flex;
    margin-top: 40px;
    width: 100%;
}

.box .empty{
    justify-content: flex-start;
    margin-left: 20px;
    width: 100px;
    height: 150px;
    background-color: #000;
}

button{
    background-color: yellowgreen;
    font-weight: 800;
    font-size: 25px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 40px;
}